.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    padding: 0 30;
    background-color: #222;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    width: 95%;
    height: 80px;
    border-radius: 13px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.logostyle {
    color: #fff
}