
.Snowflake {
	display: inline-block;
	width: 0.1%;
	color: #FFFAFA;
	opacity: 0;
	font-size: 120px;
	margin: 0;
	padding: 0;
	animation: fall 16s linear infinite;
}

.App {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

.main {
  flex-grow: 3;
}

.flexbox-container {
  opacity: .8;
  padding-top: 30px;
  display: flex;
  grid-template-areas: "a a a a a";
  gap: 50px;
  grid-auto-rows: 100px;
  display: grid;
  justify-content: space-around;
  align-items: center;
  row-gap: 510px;
}

.flexbox-container2 {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
}

.search-container {
  padding-top: 150px;
  display: flex;
  display: grid;
  justify-content: space-around;
  align-items: center;
}


.about-container {
  color: white;
  padding-top: 150px;
  display: flex;
  display: grid;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
}

.about-container1 {
  color: black;
  padding-top: 150px;
  display: flex;
  display: grid;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
}

.saved-container {
  padding-top: 150px;
  display: flex;
  grid-template-areas: "a a a a a";
  gap: 10px;
  grid-auto-rows: 100px;
  display: grid;
  justify-content: space-around;
  align-items: center;
  row-gap: 550px;
}

.weather-card {
 margin: auto;
 font-size: 35px;
 opacity:.9
}

.weather-card:hover {
  animation-name: bounce;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.9s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -moz-animation-name: bounce;
}

.search-bar {
  font-size: 30px;
  z-index: 10;
  color: white;
}

.search-bar1 {
  font-size: 30px;
  z-index: 10;
  color: black;
}

.emoji-container {
  padding-top: 150px;
}

.ui-raised-card {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  backdrop-filter: blur(14px);
  opacity: .90;
  background-color: #95a0c8;
  
}

/* ADD TO WATCH LIST BUTTON */
.buttonSize {
  font-size: large;
  width: 200px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  
}

.buttonSize:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.buttonSize:active {
  color: #000;
}

.buttonSize:active:after {
  background: transparent;
}

.buttonSize:hover:before {
  opacity:1
}

.buttonSize:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}


.switch {
  margin: 20px;
  display: inline-block;
  width: 60px;
  height: 34px;
  position: relative;
}

.switchDiv{
  position: fixed;
  right: 50px;
  top: 90px;
  z-index: 10;
}

#someshit{
  z-index: 10;
}

.switch {
  margin: 20px;
  display: inline-block;
  width: 60px;
  height: 34px;
  position: relative;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  border-radius: 30px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: orange;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2c55db;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}

#root {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.dusk {
  background: linear-gradient(0deg, orange, #2c55db, #152357, #171e36);
  opacity: 0.85;
  background-size: 100% 250%;
  position: fixed;
  height: 100vh;
  background-position: 0% 100%;
  width: 100vw;
  top: 300;
  left: 0;
  animation: sunset 3s ease-in 1;
  animation-fill-mode: forwards; 
  display: flex;
  gap: 10px;
  justify-content: space-around;
  align-items: flex-start;
}

.dawn {
  background: linear-gradient(0deg, #54b5f9 10%, 35%, #efb456 50%, 63.5%, #2c55db, #152357, #171e36);
  opacity: 0.7;
  background-size: 100% 500%;
  position: fixed;
  height: 100vh;
  background-position: 0% 100%;
  width: 100vw;
  top: 300;
  left: 0;
  animation: sunrise 3s ease-in 1; 
  animation-fill-mode: forwards; 
  display: flex;
  gap: 50px;
  justify-content: space-around;
  align-items: flex-start;
}

.waiting {
  background: linear-gradient(0deg, orange, #2c55db, #152357, #171e36);
  opacity: 0.85;
  background-size: 100% 250%;
  position: fixed;
  height: 100vh;
  background-position: 0% 100%;
  width: 100vw;
  top: 300;
  left: 0;
  z-index: 1;
}

@keyframes sunrise { 0%{background-position:0% 0%; opacity: 1} 50%{background-position:0% 50%; opacity: 0.6;} 100%{background-position:0% 100%; opacity: 0.8;}
}

 @keyframes sunset {
  0%{background-position:0% 100%;}
    50%{background-position:0% 50%; opacity: 0.9;}
    100%{background-position:0% 0%; opacity: 1;} 
}

