.main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
  }
  
  video {

    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -2;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; 
  }
  
  .content {
    /* position: absolute; */
    /* width: 100%; */
    height: 50%;  
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: darkcyan;;
  }



