.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.75rem;
    padding: 0 30;
    background-color: #222;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.301);
    width: 95%;
    height: 80px;
    border-radius: 13px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10
}

.logostyle {
    color: #fff;
    font-size: 2.5rem;
    position: relative;
    right: -20px
}

.navItem {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    align-items: center;
    text-align: center;
    justify-content: end;
    /* text-decoration: none; */
    color: #fff;
    padding: 0.7rem 1rem;
    white-space: nowrap;
    cursor: pointer;
    
}

.active {
    color: rgb(80, 80  , 250);
}

navItem:hover{
    background: rgb(80, 80  , 250);
    

}
#globelogo {
    position: relative;
    
}